streamlit==1.40.2
ultralytics==8.3.40
easyocr==1.7.2
opencv-python-headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
numpy==1.26.4
torch==2.5.1
torchvision==0.20.1
pyclipper
python-bidi
scikit-image==0.24.0
Shapely==2.0.6
